.menu{
    .brand{
        a.avatar{
            width: 100px;
            height: 100px;
        }
    }

    i.iconfont{
        font-size: 26px;
    }
}

.menuHide{
    .brand{
        a.avatar{
            width: 48px;
            height: 48px;
        }
    }
}

.main-container{
    h4.catalog-title{
        margin-bottom: 0;
    }
}